@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid d-grid gap-3 align-middle text-center mx-auto" >
    <div class="container text-info text-center mt-5">
        <h1>Consulta</h1>
    </div>
    <h4 class="mb-5">El resultado es: @ViewBag.Response </h4>
</div>